PORT=4000
FRONTEND_URL=https://ton-site.vercel.app

JWT_SECRET=change_this_to_a_long_random_secret_in_production

DB_HOST=containers-us-west-xxx.railway.app
DB_PORT=3306
DB_USER=root
DB_PASSWORD=ton_mot_de_passe
DB_NAME=samani_world

UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=5
